<%- include('../_layouts/adminheader') %>

<!-- BEGIN Main Content -->
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-table"></i> Biểu đồ theo ngày</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>           
            <div class="box-content" style="max-width: 1120px; margin: auto;">
                <canvas id="myChartDate" width="500" height="200"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-table"></i> Biểu đồ theo năm</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-tools pull-right">
                <div class="form-group">
                    <label>Chọn năm: </label>
                    <select class="form-control input-sm" id="select_year">

                        <option value="2018">2018</option>

                        <option value="2019" selected>2019</option>

                        <option value="2020">2020</option>

                        <option value="2021">2021</option>

                    </select>
                </div>
            </div>
            <div class="box-content" style="max-width: 1120px; margin: auto;">
                <canvas id="myChart" width="500" height="200"></canvas>
            </div>
        </div>
    </div>

</div>

<%- include('../_layouts/adminfooter') %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script>
    // let year = new Date().getFullYear();


    $.ajax({
        type: 'GET',
        url: '/admin/sales/totaldate',
        dataType: 'json',
        success: function (response) {

            new Chart(document.getElementById("myChartDate"), {
                type: 'line',
                data: {
                    labels: [8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18],
                    datasets: [{
                        data: response.arr,
                        label: "Ngày hôm nay",
                        borderColor: "#3e95cd",
                        fill: false
                    }, {
                        data: response.arr2,
                        label: "Ngày hôm qua",
                        borderColor: "#8e5ea2",
                        fill: false
                    }]
                }
            });

        }
    })

    loadChart(2019);
    var myChart;

    function loadChart(year) {
        $.ajax({
            type: 'GET',
            url: '/admin/sales/total/' + year,
            dataType: 'json',
            success: function (response) {
                var ctx = document.getElementById('myChart').getContext('2d');
                myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep",
                            "Oct",
                            "Nov", "Dec"
                        ],
                        datasets: [{
                            label: 'Sale',
                            data: response,
                            borderWidth: 1,
                            backgroundColor: [
                                '#e6194b', '#3cb44b', '#ffe119', '#4363d8', '#f58231',
                                '#911eb4', '#46f0f0', '#f032e6', '#bcf60c', '#fabebe',
                                '#008080', '#e6beff'
                            ],
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });

            }
        })
    }


    function removeData() {
        myChart.data.labels = [];

        myChart.data.datasets.forEach((dataset) => {
            dataset.data.pop();
        });
        myChart.update();
    }

    $('#select_year').on('change', function () {

        removeData();

        loadChart(this.value);
    });
</script>
</body>

<!-- Mirrored from thetheme.io/flaty/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 27 Sep 2019 07:16:48 GMT -->

</html>