<% include _layouts/header %>

<h1>Đăng nhập</h1>

<form method="post" action="/users/login">
    
    <div class="form-group">
        <label>Email</label>
        <input type="text" name="email" class="form-control" placeholder="Username">
    </div>

    <div class="form-group">
        <label>Mật khẩu</label>
        <input type="password" name="password" class="form-control"  placeholder="Password">
    </div>

    <button type="submit" class="btn btn-default">Đăng nhập</button>
</form>

<% include _layouts/footer %>